/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(255, 255, 255);
  color: rgb(36, 41, 47);
  font-size: 14px;
  line-height: 21px;
  font-family: Helvetica, sans-serif;
}

.content {
  display: flex;
  column-gap: 20px;
  background-color: rgb(246, 248, 250);
  border-radius: 6px;
  border: 1px solid rgb(208, 215, 222);
  padding: 20px 30px;
}

.gray-button,
.green-button {
  border-radius: 6px;
  box-sizing: border-box;
  padding: 5px 16px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.gray-button:hover,
.green-button:hover {
  opacity: 0.7;
}

.gray-button {
  background-color: rgb(80, 122, 163);
  border: 1px solid rgba(27, 31, 36, 0.15);
  color: rgb(249, 251, 253);
}

.green-button {
  background-color: rgb(45, 164, 78);
  border: 1px solid rgba(27, 31, 36, 0.15);
  color: rgb(255, 255, 255);
}

.link {
  color: rgb(88, 166, 255);
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.regular-input {
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid rgb(208, 215, 222);
  padding: 6px 12px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  color: rgb(36, 41, 47);
  outline: none;
}

.label {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  color: rgb(87, 96, 106);
  font-size: 12px;
  line-height: 12px;
}

.h1,
.h2,
.h3,
.h4 {
  font-weight: 600;
}

.h1,
.h2 {
  color: rgb(255, 255, 255);
}

.h3,
.h4 {
  color: rgb(36, 41, 47);
}

.h1 {
  font-size: 32px;
}

.h2 {
  font-size: 24px;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 16px;
}
