.container {
  display: flex;
  column-gap: 20px;
  position: relative;
  left: -8px;
  top: -8px;
  box-sizing: border-box;
  padding: 32px 16px;
  width: 100vw;
  margin: 0 auto;
  background-color: rgb(36, 41, 47);
}

.h2 {
  margin-left: 90px;
}
