<div class="content">
  <div class="wrapper">
    <div class="h4">Загрузить фильмы</div>
    <div class="input-group">
      <div class="label">Выберите файл</div>
      <input type="file" />
    </div>
    <button class="green-button">Загрузить фильмы</button>
  </div>
  <div class="wrapper">
    <div class="h4">Загрузить рейтинги</div>
    <div class="input-group">
      <div class="label">Выберите файл</div>
      <input type="file" />
    </div>
    <button class="green-button">Загрузить рейтинги</button>
  </div>
</div>
