<div class="content">
  <div class="wrapper">
    <div class="h4">Загрузить фильмы</div>
    <app-drop-zone (fileChanged)="dropMovieFile($event)"></app-drop-zone>
    <button (click)="uploadMovieFile()" class="green-button">
      Загрузить фильмы
    </button>
  </div>
  <div class="wrapper">
    <div class="h4">Загрузить рейтинги</div>
    <app-drop-zone (fileChanged)="dropRatingFile($event)"></app-drop-zone>
    <button (click)="uploadRatingFile()" class="green-button">
      Загрузить рейтинги
    </button>
  </div>
</div>
