<div class="content">
  <div class="wrapper">
    <div class="h4">Авторизация</div>
    <div class="input-group">
      <div class="label">Логин</div>
      <input
        [(ngModel)]="authLogin"
        type="text"
        placeholder="Логин"
        class="regular-input"
      />
    </div>
    <button (click)="auth()" class="green-button">Войти</button>
  </div>
  <div class="wrapper">
    <div class="h4">Регистрация</div>
    <div class="input-group">
      <div class="label">Логин</div>
      <input
        [(ngModel)]="registerLogin"
        type="text"
        placeholder="Логин"
        class="regular-input"
      />
    </div>
    <button (click)="register()" class="green-button">
      Зарегистрироваться
    </button>
  </div>
</div>
