<div class="content">
  <div class="h4">
    Здравствуйте,
    <span class="h3">{{ userService.user!.nickname }}</span>
  </div>
  <app-search-input (movieSelected)="selectMovie($event)"></app-search-input>
  <div *ngIf="movie != undefined" class="h3">{{ movie.title }}</div>
  <app-stars
    [mean]="avgRating"
    [rating]="rating"
    (ratingChange)="changeRating($event)"
    *ngIf="movie != undefined"
  ></app-stars>
  <button (click)="getRecommendations()" class="green-button">
    Получить рекомендации
  </button>
</div>
