<div class="content">
  <div class="h4">
    Здравствуйте,
    <span class="h3">{{ userService.user!.nickname }}</span>
  </div>
  <app-search-input (movieSelected)="selectMovie($event)"></app-search-input>
  <div *ngIf="movie != undefined" class="h3">{{ movie.title }}</div>
  <div *ngIf="movie != undefined" class="wrapper">
    <div class="text">Оценка</div>
    <select>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <button *ngIf="movie != undefined" class="green-button">
    Получить рекомендации
  </button>
</div>
